/component/
/web/bundles/
/web/assets/
/web/assetic/
/components/
/web/*.css
/web/*.js
/web/*.png
/web/*.jpg
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/composer.phar
/bin/doctrine
/bin/doctrine.php
/bin/behat
/bin/phpunit
/bin/sami.php
/bin/webunit
/.idea/
/web/css/
/web/images/
/web/js/
/web/emoticons/
/.idea/
/bin/mysql-connector*
/nbproject/private/
/docs/
/api/
/web/docs/
/web/api/
*.DS_Store*
*.css