/*
 * This file is part of the Rob Frawley application
 *
 * (c) Rob Frawley 2nd <rmf@robfrawley.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

body {
    padding-top:50px;
    padding-bottom:0px;
}

h1 {
    color:#B4BBAA;
}

h2 {
    color:#A06673;;
}

h3 {
    color:#51586D;
}

h4 {
    color:#535770;
}

h5, h6 {
    color:#A77A84;
}

.jumbotron {
    h1 {
        color:#7C68A0;
    }
    .btn {
        margin-top:15px;
    }
    background-image:url(/bundles/rfblog/img/rf-welcome-bg.png);
}

.navbar-brand {
    background-image:url(/bundles/rfblog/img/rf.png);
    background-position:15px;
    background-size:contain;
    background-repeat:no-repeat;
    overflow:hidden;
    width:100px;
    opacity:0.9;
    .no-overflow;
    &:hover,&:focus {
        opacity:1;
        //background-image:url(/bundles/rfblog/img/rfh.png);
    }
}

.navbar-brand strong {
    font-weight:normal;
    opacity:0;
}

.breadcrumb {
    background-color:#1C1C25;
}

.breadcrumb a {
    color:#fff;
    opacity:0.8;
     &:hover,&:focus {
        opacity:1;
    }
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top:80px;
    opacity:0.8;
    background-color:#1e1f23;
    border-color:#060708;
    background-image:url(/bundles/rfblog/img/rf-welcome-bg.png);
    .external-link-collection {
        text-align:right;
        .icon-link-block {
            background-color:#000;
            opacity:0.4;
            margin:10px 0 10px 10px;
            display:inline-block;
            &:hover, &:focus {
                opacity:1;
            }
            a {
                &:hover, &:focus {
                    text-decoration:none;
                }
                padding:10px 6px 10px 14px;
                display:block;
                span {
                    display:none;
                }
            }
        }
    }
    .copyright-info {
        margin-top:44px;
        .a-external-icon {
            display:none;
        }
    }
}